GzipUnzipper/GZipUnzipper/bin
GzipUnzipper/GZipUnzipper/obj

*.vs
PlaceViewerUnity/*.csproj
PlaceViewerUnity/*.sln
PlaceViewerUnity/*.vsconfig

PlaceViewerUnity/Library
PlaceViewerUnity/Logs
PlaceViewerUnity/Temp
PlaceViewerUnity/obj
PlaceViewerUnity/UserSettings
PlaceViewerUnity/.vs